/* .swiper-wrapper{
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
.react-multi-carousel-item{
    /* margin: 0.1rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.react-multi-carousel-item.react-multi-carousel-item--active{
    display: flex;
    align-items: center;
    justify-content: center;
} 